* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.header__nav {
    background: #3e8989;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__box-left {
    display: flex;
    align-items: center;
}

.nav__box-middle-item {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.nav__box-middle-link {
    font-family: RM;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    transition: 300ms;
}

.nav__box-middle-link:hover {
    border-bottom: 3px solid #fff;
    border-radius: 5px;
    width: 74px;
    height: 3px;
}

.nav__form {
    display: flex;
    align-items: center;
    gap: 0;
}

.nav__form-input {
    border-radius: 20px 0 0 20px;
    max-width: 216px;
    width: 100%;
    height: 34px;
    background: #fff;
    border: none;
}

.nav__form-button {
    border-radius: 0 20px 20px 0;
    width: 74px;
    height: 34px;
    background: #295e5e;
    border: none;
    font-family: RR;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.nav__form-input::placeholder {
    font-family: RR;
    font-weight: 400;
    font-size: 16px;
    color: #898989;
    padding-left: 20px;
}

.content {
    background: url(../images/back.png) no-repeat center/cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.content__box-title {
    font-family: RS;
    font-weight: 600;
    font-size: 80px;
    color: #fff;
}

.content__box-text {
    font-family: RM;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
}

.content__box-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: IS;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    max-width: 200px;
    width: 100%;
    height: 50px;
    background: #b4436c;
    margin-top: 50px;
    transition: 300ms;
}

.content__box-link:hover {
    background: #fff;
    color: #b4436c;
}

.about__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: IS;
    font-weight: 600;
    font-size: 40px;
    color: #3e8989;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about__box {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.about__box-img {
    max-width: 545px;
    width: 100%;
    height: 261px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 545px;
    width: 100%;
    height: 188px;
}

.about__box-text,
.about__box-text-bottom {
    font-family: RR;
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.catalog__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: IS;
    font-weight: 600;
    font-size: 40px;
    color: #3e8989;
    margin-top: 97px;
    margin-bottom: 53px;
}

.catalog__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.catalog__box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.catalog__box-item-text {
    font-family: IS;
    font-weight: 600;
    font-size: 24px;
    color: #000;
    transition: 300ms;
}

.catalog__box-item-text:hover {
    color: #b4436c;
}

.contact__title {
    margin-top: 100px;
    font-family: SB;
    font-weight: 600;
    font-size: 40px;
    color: #3e8989;
}

.contact__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.left__text {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 100px;
}

.contact__box-right-text,
.contact__box-left-number,
.contact__box-left-mail {
    font-family: RR;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.footer {
    background: #3e8989;
    max-width: 1440px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-direction: column;
}

.footer__box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer__box-item-link {
    font-family: RM;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.footer__box-text {
    font-family: RR;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}